.Main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name
        = @group.name
        %ul.Chat-main__member-list
          %li.Chat-main__member
            Member:
            - @group.users.each do |user|
              = user.name
              
    = link_to 'edit', edit_group_path(@group.id), class: 'edit-btn'
  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .new-message
        .form-box
          = f.text_field :content, class: 'input-text', placeholder: 'type a message'
          = f.label :image, class: 'icon-image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'image-file'
        = f.submit 'Send', class: 'Submit-btn'