.Main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name test
      %ul.Chat-main__member-list
        %li.Chat-main__member smple
    = link_to 'edit', '#', class: 'edit-btn'
  .Chat-main__message-list
    = render @messages
    .Message-posts
      .Contributor
        .Contributor__name name 
        .Contributor__date 2020/01/01 0:00:00
      .Message
        .Message-comment aaaa
    .Message-posts
      .Contributor
        .Contributor__name name 
        .Contributor__date 2020/01/01 0:00:00
      .Message
        .Message-comment 11111
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .new-message
        .form-box
          = f.text_field :content, class: 'input-text', placeholder: 'type a message'
          = f.label :image, class: 'icon-image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'image-file'
        = f.submit 'Send', class: 'Submit-btn'